PORT=4000
MONGODB_URI=mongodb+srv://tu_usuario:tu_password@cluster0.mongodb.net/full_administration?retryWrites=true&w=majority
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
JWT_SECRET=una_clave_secreta_muy_larga_y_segura
NODE_ENV=development
